@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  width: 100%;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

.animate-dash {
  animation: dash 20s linear infinite;
}

